.page-container {
  min-height: 100vh;
  margin-left: 200px;
  background: #f9f9f9;
}

.is-collapsed .page-container{
  margin-left: 80px;
}

.main-content {
  padding: 30px 20px;
  min-height: calc(100vh - 143px);
}

#mainContent {
  background: #FFF;
  border-radius: 4px;
  padding: 16px 0 50px;
  border: 1px solid rgba(192, 192, 192, .35);
}

@media (max-width: 767.98px) {
  .page-container {
    padding-left: 0 !important;
  }
}